@import '../../utils/global.scss';

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    .content {
        background-color: darken($primary, 3%);
        border-radius: $borderRadius;
        z-index: 102;
        flex: 1;
        max-width: 980px;

        .title {
            padding: $padding;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $light;
        }

        p {
            padding: $padding;
            color: $light;
        }
    }

    .dimmer {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba($dark, 0.75);
    }
}