@import '../../utils/global.scss';
@import '../../globalComponents/topbar/topbar.module.scss';

.home {
    background-color: $light;
    height: calc(100vh - #{$topbarHeight}px);
    position: relative;
}