@import '../../utils/global.scss';
@import '../../globalComponents/topbar/topbar.module.scss';

.home {
    background-color: lighten($dark, 3%);
    position: relative;

    .carousal-space {
        height: calc(100vh - #{$topbarHeight}px);
    }
}