/*
===============================
            Colors
===============================
*/
$dark: #212121;
$light: #FAFAFA;
$primary: #e74c3c;
$secondary: #2980b9;

/*
===============================
            Spacing
===============================
*/
$margin: 8px;
$padding: 8px;

/*
===============================
            Border
===============================
*/
$borderStyle: solid;
$borderWidth: 1px;
$borderRadius: 4px;

:export {
    // Colors
    dark: $dark;
    light: $light;
    primary: $primary;
    secondary: $secondary;

    // Spacing
    padding: $padding;
    margin: $margin;
}