/*
===============================
            Colors
===============================
*/
$dark: #212121;
$light: #FAFAFA;
$primary: #2980b9;
$secondary: #e74c3c;

/*
===============================
            Spacing
===============================
*/
$margin: 8px;
$padding: 8px;

/*
===============================
            Border
===============================
*/
$borderStyle: solid;
$borderWidth: 1px;
$borderRadius: 4px;