@import '../../utils/global.scss';

$topbarBreakPoint: 450;

.topbar {
    background-color: $dark;
    padding: $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:export {
    topbarBreakPoint: $topbarBreakPoint;
}